{% extends "NewsFeverApp/base.html" %}
{%block content%}
    
        {%if news.title == title%}
        <br><br><br>
        <p>
	<center><img src = {{news.image_url}} alt="Headshot photo" height = "300px" width = "300px"/></br>
        &nbsp&nbsp<b>Author</b>    : {{news.author_id}}</br>
        &nbsp&nbsp<b>Publisher</b> : {{news.publisher_id}}</br>
	&nbsp&nbsp<b>Title   </b>  : {{news.title}}</br>
        &nbsp&nbsp<b>Story </b>    : {{news.story}}</br>
	&nbsp&nbsp<b>Category </b> : {{news.category}}</br>
        &nbsp&nbsp<a href  = {{news.more_info}} > More info</br>
        </p>
	</center>
	{%endif%}
    
	
{%endblock%}
