{% extends "NewsFeverApp/base.html" %}
{%block content%}
    
    
        <br><br><br>
        <p>
	<img src = {{news.image_url}} alt="Headshot photo" style="float:left;margin: 0" width = "250px" height = "150px"/>
        &nbsp&nbsp<b>Author</b>    : {{news.author}}</br>
        &nbsp&nbsp<b>Publisher</b> : {{news.publisher_id}}</br>
	&nbsp&nbsp<b>Title   </b>  : {{news.title}}</br>
        &nbsp&nbsp<b>Story </b>    : {{news.story}}</br>
	&nbsp&nbsp<b>Category </b> : {{news.category}}</br>
        &nbsp&nbsp<a href  = {{news.more_info}} > More info</br>
        </p>
	
    
	
{%endblock%}
